name: Upload Python Package

on:
  release:
    types: [created]

permissions:
  contents: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.event_name == 'release'
    steps:
    - name: Check out repository
      uses: actions/checkout@v6

    - name: Get the tag name for the release
      id: vars
      shell: bash
      run: |
          tag="${GITHUB_REF#refs/*/}"  # refs/tags/1.2.3 -> 1.2.3
          echo "tag=$tag" >> $GITHUB_OUTPUT
    - run: |
        echo "tag=${{ steps.vars.outputs.tag }}"

    - name: Install uv
      id: setup-uv
      uses: astral-sh/setup-uv@v7
      with:
        version: latest
        python-version: "3.13"
        enable-cache: true

    - name: Install project
      run: uv sync --all-extras --dev

    - name: Validate Release Version
      shell: bash
      run: |
        set -euo pipefail
        VERSION=$(grep -E '^version = "' pyproject.toml | cut -d '"' -f 2)
        [ "${VERSION}" == "${TAG}" ] || { >&2 echo "Expected ${TAG} got ${VERSION}"; exit 1; }
      env:
        TAG: ${{ steps.vars.outputs.tag }}

    - name: publish
      shell: bash
      run: |
        uv build
        gh release upload "${{ steps.vars.outputs.tag }}" dist/* --clobber
        uv publish
      env:
        GH_TOKEN: ${{ github.token }}
        UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
